.contactBody {
    height: 100vh;
    width: 100%;

}

.container {
    background-color: #f5f7f9;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 35%;
    padding: 1.5%;
    border-radius: 3%;
}

.button {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: #124d91;
    margin-left: 35%;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.button:hover {
    color: #30edf4;
}

.form-label {
    color: #162379;
    margin: 0 1em;
}

.form-control {
    margin: .3em 1em;
    display: flex;
    justify-content: center;
}

#name {
    width: 20em;
    border: #222225 2px solid;
    border-radius: 5px;
    padding: 1.5%;
    background-color: #f5f7f9;
}

#email {
    width: 20em;
    border: #222225 2px solid;
    border-radius: 5px;
    padding: 1.5%;
    background-color: #f5f7f9;
}

#message {
    /* margin-left: 1.2em; */
    height: 8em;
    width: 20em;
    border: #222225 2px solid;
    border-radius: 5px;
    padding: 1.5%;
    background-color: #f5f7f9;
}

.mb-3 {
    /* margin: 2em 1em; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}