html {
    background-image: url(../img/Meteor.svg);
}

body {
    margin-bottom: -50vh;
    padding: 0;
    height: 300vh;
    font-family: "Euclid Circular A";
    background-image: url(../img/Meteor.svg);
    color: rgba(255, 255, 255, 0.7);
}

img {
    position: fixed;
    z-index: 0;
    transition: 0.3s;
}

body img:nth-child(1) {
    width: 200px;
    top: 290px;
    opacity: 30%;
}

body img:nth-child(2) {
    width: 250px;
    left: 400px;
    top: 460px;
    opacity: 30%;
}

body img:nth-child(3) {
    width: 150px;
    top: 360px;
    right: 90px;
    opacity: 30%;
}

.home-content {
    position: relative;
    z-index: 1;
    padding: 100px 15%;
}

section {
    text-align: center;
}