/* nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
    padding-block: 15px;
} */

/*.navbutton {
    color: rgb(9, 37, 61);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    border: 1px solid rgb(17, 101, 220);
} */



/* !-----------------------------------------------------------------------! */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NavBody {
    background: #124d91 linear-gradient(50deg, #162379, #2f73af);
    /* background-color: #15497c; */
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

ul {
    font-family: "Chivo Mono", monospace;
    display: flex;
    gap: 72px;
}

ul li {
    list-style: none;
}

ul li .navbutton {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
    border: 1px solid #fff;
    border-radius: 40px;
}

ul:hover li a {
    color: #30edf4;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 25px #30edf4,
            0 0 50px #2f73af
    }
}

ul li a:focus {
    animation: pulse 0.5s ease-in-out;
}


ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

/* Default styles for the navbar */
.navbar {
    position: relative;

    color: #fff;
    padding: 10px;
}

/* Styles for the sticky navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #124d91 linear-gradient(50deg, #162379, #2f73af);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* !--------------------------------------------------------------- */