.FooterBody {
    background: #124d91 linear-gradient(50deg, #162379, #2f73af);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .FooterBody button {
    z-index: 100;
} */